# Dependencies
node_modules
package-lock.json

# Hardhat
artifacts
cache
typechain
typechain-types

# IDE
.vscode
.idea
*.swp
*.swo

# Environment
.env
.env.local

# Build
dist
build

# Coverage
coverage
coverage.json

# Logs
*.log
package-lock.json
yarn.lock
.DS_Store
contracts/.DS_Store